@import "../../styles/mixins";
@import "../../styles/variables";

.container {
  @include grid(0);
  border: solid red 1px;
  grid-template-columns: 90% 10%;
  // grid-template-rows: 40% auto;
  width: 95%;
  //   TODO -move height into variable if suitable
  height: auto;
  //   margin: $centeredBMargin;
  margin: 10px auto;
}

.projectTitle {
  @include flex(row);
  width: 100%;
  align-items: center;
  padding: $taskDisplayTextPadding;
}
.projectTaskNumber {
  letter-spacing: 1px;
  padding: $taskDisplayTextPadding;
}

.taskTitle {
  font-weight: 900;
  grid-column: 1 / -1;
  padding: $taskDisplayTextPadding;
}
