@import "../../../styles/mixins";
@import "../../../styles/variables";

.container {
  @include flex(column);
  border: solid red 1px;
  width: $width;
  //   TODO -move height into variable if suitable
  height: 80vh;
  margin: $centeredBMargin;
}

.taskForm {
  @include flex(column);
  @include centered();
  width: $width;
}

.radioButtons {
  @include flex(row);
  margin-top: 10px;
}
